.feed {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1.5fr 1fr 1fr;
    width: 100%;
    grid-gap: 1rem;
}

.fundo_Base-feed {
    background-color: rgba(243, 243, 243, 0.05);
    backdrop-filter: blur(10px);

}

