.botoes_Superiores {
    padding: 17px 0 0 250px;
}

.botao__Notificacoes {
    background-color: rgba(243, 243, 243, 0.05);
    backdrop-filter: blur(10px);
    border-style: none;
    border-radius: 5px;
    color: #cecece;
    font-size: 15px;
    height: 2rem;
    width: 2.5rem;
    margin-right: 1.5rem;
    
}

.botao__Notificacoes:nth-child(1) {
    margin-right: 2rem;
}

.botao__Notificacoes:hover {
    background-color: rgba(243, 243, 243, 0.15);
    color: #ffffff;
    cursor: pointer;
}