.cabecalho {
    background-blend-mode: normal;

    background-image:
    radial-gradient(circle, rgba(2,0,36,0.2) 29%, rgba(25,25,44,0.7486344879748774) 73%, rgba(25,25,44,0.9) 93%),
    url('../../img/background-topo.jpg');

    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    height: 45vh;
    justify-content: space-around;
    width: 100%;

}