.perfil_Superior {
    display: flex;
    align-self: center;
}

.foto__Perfil {
    background-image: url('../../img/profile-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75px;
    border-radius: 5px;
    border-style: none;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    height: 40px;
    margin: auto 0 auto 30px;
    width: 40px;

}

.foto__Perfil-texto {
	color: #cecece;
    margin: auto 0 auto 10px;
    font-family: 'Alef', sans-serif;
    font-size: 0.8rem;
	font-weight: normal;
	text-decoration: none;

}

.foto__Perfil-texto:hover {
    color: #ffffff;
}