.perfil__Superior {
    display: flex;
}

.foto__Perfil {
    background-image: url('../../img/profile-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    height: 40px;
    margin-left: 60px;
    margin-top: 0.85rem;
    width: 40px;

}

.foto__Perfil-texto {
    align-self: flex-end;
	color: #cecece;
    margin: 0 0 19px 10px;
    font-family: 'Alef', sans-serif;
    font-size: 0.8rem;
	font-weight: normal;
	text-decoration: none;

}

.foto__Perfil-texto:hover {
    color: #ffffff;
}