.footer {
    backdrop-filter: blur(20px);
    background: linear-gradient(15deg, rgba(30,26,64,0.1) 40%, rgba(106,99,167,0.1) 100%);
    margin-top: 100px;
    padding: 2rem;
}

.footer h3 {
    color: white;
    font-family: 'Alef', Open Sans;
    font-size: .9rem;
    text-align: center;
    font-weight: 400;
}