.sidebar_Esquerdo {
    margin-top: -120px;
    margin-bottom: 80px;
    padding-left: 1rem;
    padding-right: 1.5rem;
}

.sidebar_Fundo {background: linear-gradient(45deg, rgba(252,43,82,0.5) -20%, rgba(30, 26, 64, 0.15) 25%, rgba(30, 26, 64, 0.15) 80%, rgba(252,43,82,0.5) 120%);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.15);
}

.sidebar_Nav {
    display: flex;
    flex-direction: column;
}

.opcoes_Navegacao {
    display: flex;
    flex-direction: column;
    margin-top: -70px;
}

.opcoes_Navegacao h3 {
    color: #eeeeee;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 1.5rem 0 .5rem 0;
    text-align: center;
    font-family: 'Alef', sans-serif;
}

.opcoes_Navegacao h4 {
    color: #696969;
    font-size: .58rem;
    font-weight: 500;
    padding-bottom: 1.5rem;
    text-align: center;
    font-family: 'Alef', sans-serif;
}

.Bolder {
    color: #eeeeee;
    font-weight: bold;
}

.Bolder:hover {
    cursor: pointer;
}

.logo__itachin-sidebar {
    cursor: pointer;
    margin: -8px auto -8px auto;
    width: 3.5rem;
    z-index: 1;
}

.foto__Perfil-sidebar {
    background-image: url('../../../img/profile-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120px;
    border-radius: 15px;
    border-style: none;
    cursor: pointer;
    height: 6rem;
    margin: 0 auto 0 auto;
    width: 6rem;

}

.sidebar_Menu {
    display: flex;
    flex-direction: column;
}

.sidebar_Menu-item {
    border-radius: 10px 0 0 10px;
    display: flex;
    margin-right: -16px;
    padding: 0 20px;

}

.sidebar_Menu-item:last-child {
    margin-bottom: 30px;
}

.sidebar_Menu-item:hover {
    background-color: rgba(243,243,243,0.05);
    border-left: 2px solid #fc2b52;
    cursor: pointer;
    margin-left: -2px;

}

.sidebar_Menu-item-active {
    background-color: rgba(243,243,243,0.05);
    border-left: 2px solid #fc2b52;
    cursor: pointer;
    margin-left: -2px;

}

.sidebar_Menu-item i {
    color: #883158;
    font-size: 14px;
    margin: auto 0;
    width: 15px;
}

.sidebar_Menu-item a {
    color: #afafaf;
    font-family: 'Alef', sans-serif;
    font-size: 10px;
    font-weight: 500;
    margin: auto 0 auto 15px;
    padding: .8rem 3rem .8rem 0;
    text-decoration: none;
    
}

.sidebar_Menu-item:hover i {
    color: #fc2b52;

}

.sidebar_Menu-item:hover a {
    color: #ffffff;

}

.sidebar_Menu-item-active i {
    color: #fc2b52;

}

.sidebar_Menu-item-active a {
    color: #ffffff;

}
