.postagens__Feed:nth-child(1) {
    padding: 1rem;
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: calc(50%-1.25rem) calc(50%-1.25rem);
    grid-template-rows: 33.33% 33.33% 33.33%;

}

.top__Skills-cabecalho {
    display: flex;
    justify-content: space-between;
    align-content: center;
    grid-column: 1/3;
    grid-row: 1/2;
}

.top__Skills-titulo {
    color: #eeeeee;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.15rem;
}

.top__Skills-tituloCor {
    color:#ff2852;
    font-weight: 500;
    font-size: 1rem;
}

.top__Skills-viewAll {
    background: linear-gradient(45deg, rgba(60,55,95,0.01) 35%, rgba(215,211,244,0.01) 150%);
    backdrop-filter: blur(10px);
    border: 1px solid #eeeeee2c;
    border-radius: 8px;
    color: #eeeeee;
    font-family: 'Roboto', sans-serif;
    font-size: 0.7rem;
    height: 1.8rem;
    width: 5rem;

}

.top__Skills-viewAll:hover {
    background-color: rgba(243, 243, 243, 0.15);
    cursor: pointer;
    font-weight: 500;
}

.perfect__Susanoo {
    display: grid;
    background-color: #ff2852;
    border-radius: 8px;
    grid-column: 1/3;
    grid-row: 2/2;
}

.susanoo {
  transform: scaleX(-1);
  width: 8rem;
  margin-top: -64.5px;
  margin-bottom: 4px;
  padding-left: 0.2rem;
  border-radius: 8px;
  grid-column: 1/1;
  grid-row: 1/3;
}

.perfect__Susanoo-texto {

    grid-column: 2/2;
    grid-row: 1/3;
}

.perfect__Susanoo-estrelas {
    color: #eeeeee;
    font-size: .6rem;
}

.perfect__Susanoo-titulo {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: .8rem;
}

.perfect__Susanoo2 {
    background-color: #151015;
    border-radius: 8px;
    grid-column: 1/2;
    grid-row: 3/3;
}